{% extends "layout.html" %}

{% block title %}
- login
{% endblock %}
{% block main %}

<!-- <div id="wrapper1" class="jumbotron col-md-7">
                    
                 <img src="./images/logo.jpeg">
    
            </div> -->
<div class="div1">
</div>
<div id="wrapper-2" class="jumbotron col-md-7" style="padding: 0;">

    <section id="form-containers" class="jumbotron mt-5 shadow">

        <h3>Create a loan</h3>
        <form id="form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">Loan Type</label>
                    <select id="period" class="form-control">
                        <option selected disabled>Choose...</option>
                        <option value="mini">Deca Mini</option>
                        <option value="flex">Deca flex</option>
                        <option value="large">Deca Large</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Amount</label>
                    <input type="number" class="form-control" id="inputEmail4" placeholder="Amount borrowed">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Rate</label>
                    <input type="number" min="0" class="form-control" id="inputEmail4" placeholder="Interest rate">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Interest Type</label>
                    <input type="number" min="0" class="form-control" id="inputEmail4" placeholder="Type of rate">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Start Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Date borrowed">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">End Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Repayment start date">
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputState">Repayment period</label>
                    <select id="period" class="form-control">
                        <option selected disabled>Choose...</option>
                        <option value="monthly">Monthly</option>
                        <option value="annualy">Annualy</option>
                        <option value="bi-annualy">Bi-annualy</option>
                    </select>
                </div>

            </div>
            <div class="jumbotron form-group col-md-12 ">
                <table class="table table-striped table-dark text-center">
                    <thead>
                        <tr>
                            <td scope="col">Amount</td>
                            <td scope="col">Rate</td>
                            <td scope="col">Repayment</td>
                        </tr>
                    </thead>
                    <tbody>
                        <td>N1000</td>
                        <td>5%</td>
                        <td>N15000</td>
                    </tbody>
                </table>
            </div>

            <button type="submit" id="btn1" class="btn btn-primary">Create Loan</button>
        </form>

    </section>

</div>

</div>
</div>
{% endblock %}
