{% extends "layout.html" %}

{% block title %}
- apply for loan
{% endblock %}
{% block main %}

<div class="div1">
</div>
<div id="wrapper-2" class="jumbotron col-md-12" style="padding: 0;">

    <section id="form-containers" class="jumbotron col-md-7 mt-5" style="padding: 10px;">

        <h3>Create a loan</h3>
        <form id="forms">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Lender</label>
                    <input type="text" class="form-control" id="inputEmail4" placeholder="Name of lender">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Amount</label>
                    <input type="number" class="form-control" id="inputEmail4" placeholder="Amount borrowed">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Rate</label>
                    <input type="number" min="0" class="form-control" id="inputEmail4" placeholder="Interest rate">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Interest Type</label>
                    <input type="number" min="0" class="form-control" id="inputEmail4" placeholder="Type of rate">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Start Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Date borrowed">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">End Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Repayment start date">
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputState">Repayment period</label>
                    <select id="period" class="form-control">
                        <option selected disabled>Choose...</option>
                        <option value="monthly">Monthly</option>
                        <option value="annualy">Annualy</option>
                        <option value="bi-annualy">Bi-annualy</option>
                    </select>
                </div>

            </div>

            <button type="submit" id="btn1" class="btn btn-primary">Create Loan</button>
        </form>

    </section>

</div>

</div>
</div>

{% endblock %}
