{% extends "layout.html" %}

{% block title %}
- payment
{% endblock %}
{% block main %}

<div class="parentdiv">
  <div class="div1">

  </div>
  <div class="tbl">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Payment Due Date</th>
          <th scope="col">Balance</th>
          <th scope="col">Payment</th>
          <th scope="col">Date Paid</th>
          <th scope="col">Mode of Payment</th>
          <th scope="col">Upload Proof</th>
        </tr>
      </thead>
      <tbody>
        {% for x in range(period) %}
        <form action="/duepayment" method="POST">
        <tr>
          <td>{{ dates[x] }}</td>
          <td>{{ balances[x] }}</td>
          <td>{{ activeLoan[0]["monthlyRepayment"] }}</td>
          <td><input type="date" name="datepaid"></td>
          <td>
            <select name = "paymentproof">
              <option selected>Choose...</option>
              <option value="banktransfer">Bank Transfer</option>
              <option value="bankteller">Bank Teller</option>
              <option value="cash">Cash</option>
              <option value="cheque">Cheque</option>
            </select></td>
          <td><input type="text" placeholder="image url" name="imageUrl"></td>
          <td><button type="submit" class="btn btn-dark">Pay </button></td>
        </tr>
       </form>
        {% endfor %}
        <tr>
          <td></td>
          <td>0.00</td>
        </tr>
        </tbody>
      </tbody>
    </table>
  </div>
</div>
</div>

{% endblock %}
