{% extends "layout.html" %}


{% block main %}
<div class="hero">
    <h1>Decapay</h1>
    <p>Your number one <span class="info">loan</span> tracker</p>
</div>


<div class="how-section1">
    <div class="row">
        <div class="col-sm-6 how-img">
            <img src="../static/images/loanAccess.svg" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-sm-6 how-img">
            <h2>Register your loan</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 how-img">
            <h2>Monitor your loan</h2>
        </div>
        <div class="col-sm-6 how-img">
            <img src="../static/images/monitor.svg" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 how-img">
            <img src="../static/images/loan.svg" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-sm-6 how-img">
            <h2>Clear your loan Early</h2>
        </div>

    </div>
</div>

{% endblock %}
