{% extends "layout.html" %} {% block title %} - loan history {% endblock %} {%
block main %}

<div class="parentdiv">
  <div class="div1"></div>
  <div class="cardcont">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Loan Values</h5>
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>Loan Amount</td>
                  <td>{{ userLoans[0]["loanAmount"] }}</td>
                </tr>
                <tr>
                  <td>Interest Rate</td>
                  <td>{{ userLoans[0]["interestRate"] }}</td>
                </tr>
                <tr>
                  <td>Loan Period in years</td>
                  <td>{{ userLoans[0]["loanPeriod"] }}</td>
                </tr>
                <tr>
                  <td>Start date of Loan</td>
                  <td>9th October, 2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Loan Summary</h5>
            <table class="table table-sm">
              <tbody>
                <tr>
                  <td>Monthly Payment</td>
                  <td>{{ userLoans[0]["monthlyRepayment"] }}</td>
                </tr>
                <tr>
                  <td>No of Payments</td>
                  <td>{{ userLoans[0]["loanPeriod"] }}</td>
                </tr>
                <tr>
                  <td>Total Interest</td>
                  <td>{{ userLoans[0]["totalInterest"] }}</td>
                </tr>
                <tr>
                  <td>Total Cost of Loan</td>
                  <td>{{ userLoans[0]["totalCostOfLoan"] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">PMT No</th>
          <th scope="col">Payment Date</th>
          <th scope="col">Begining Balance</th>
          <th scope="col">Payment</th>
          <th scope="col">Principal</th>
          <th scope="col">Interest</th>
          <th scope="col">Ending Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>09/07/2019</td>
          <td>3000000</td>
          <td>100000</td>
          <td>60000</td>
          <td>40000</td>
          <td>2900000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>09/08/2019</td>
          <td>2900000</td>
          <td>100000</td>
          <td>60000</td>
          <td>40000</td>
          <td>2800000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
