{% extends "layout.html" %}

{% block title %}
- success
{% endblock %}
{% block main %}
<div class="parentdiv">
  <div class="div1">
  </div>
  <div class="form-container mt-5">
    <!-- <form class="login-form" action="/create"> -->
    <form class="login-form" action="/duepayment">
      <p class="heading">Your application is successful</p>
      <button type="submit" class="btn btn-primary form-control form-inpt loginbtn">
            <a class="nregistered" href="/duepayment">view loan details</a>
          </button>
     
      <!-- <div class="form-group">
        <input type="email" class="form-control form-inpt inpt" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter" />
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-inpt inpt" id="exampleInputPassword1" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-primary form-control form-inpt loginbtn">
        Log In
      </button> -->
      <!-- <div> -->
        <!-- <hr /> -->
        <!-- <div class="foot">
          <span class="nregistered">Not Registered?</span>
          <a class="nregistered" href="/register">Sign up here</a>
        </div> -->
      </div>
    </form>
  </div>
</div>
{% endblock %}
